<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <title>App</title>
</head>

<body>
    <div class="custom-container" id="app">
        <h1 class="header"><strong>{{currentTime}}</strong></h1>
        <div class="table-wrapper">
            <div v-if="tableData.length > 0">
                <table class="table u-full-width">
                    <thead>
                        <tr>
                            <th v-for="(headerColumn, i) in tableData[0]" :key="i">{{headerColumn.value}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(dataRow, j) in tableData.slice(1)" :key="j">
                            <td v-for="(dataColumn, k) in dataRow" :key="k"
                                :style="setBackgroundColor(dataColumn.status)">
                                {{dataColumn.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <p>Couldn't fetch data from the server...</p>
            </div>
        </div>

        <div v-for="(result, index) in results" :key="index" class="results" :style="setBackgroundColor(result.status)">
            {{result.text}}
        </div>
    </div>
    <script src="/public/app.js"></script>
</body>

<style>
    .custom-container {
        margin: 0 25px;
    }

    .header {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .table-wrapper {
        max-width: 100%;
        overflow-y: auto;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .table td {
        padding: 7px;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .results {
        padding: 15px;
        background: lightseagreen;
        border-radius: 5px;
        color: white;
        margin-bottom: 15px;
        font-size: 18px;
    }
</style>

</html>